@use '../../styles/variables' as var;
@use '../../styles/mixins' as m;

.weather-banner {
  width: 100%;
  background: var(--gray-0); 
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 1000;

  @include m.mobile {
    padding: 8px 14px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon-box {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(var(--white-0,0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__tag {
    font-size: 16px;
    color: var(--point);
    font-weight:700;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include m.mobile {
      font-size: 12px;
    }
  }

  &__text {
    font-size: 16px;

    color: var(--white-0);
    @include m.mobile {
      font-size: 12px;
    }
  }

  &__right {
    margin-left: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__temp {
    font-size: 16px;
    font-weight: 600;
    color: var(--white-0);
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid var(--gray-4);
    border-radius: 4px;
    padding: 2px 10px;

    @include m.mobile {
      font-size: 13px;
    }
  }

  &__pill {
    font-size: 14px;
    color: var(--gray-5);
    background:  rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2px 10px;
    white-space: nowrap;

    @include m.mobile{
      display: none;
      font-size: 11px;
    }
  }

  &__close-btn {
    position: absolute;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white-0);
    font-size: 20px;
    transition: color 0.2s;

    @include m.mobile {
      right: 14px;
      font-size: 16px;
    }

    &:hover {
      color: var(--white-0);
    }
    
  }
}