@use '../../styles/variables' as var;
@use '../../styles/mixins' as m;

.contact {
    padding: 100px 0px 0;
  
    &__inner {
      max-width: 60vw;
      margin: 0 auto;
      text-align: center;

      @include m.mobile{
        max-width: 90vw;
      }
    }
  
    &__eyebrow {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: var(--point);
      margin-bottom: 12px;
      
      @include m.mobile{
        font-size: 12px;
      }
    }
  
    &__title {
      font-size: 50px;
      font-weight: 500;
      letter-spacing: -0.02em;
      margin-bottom: 48px;
      
      @include m.mobile{
        font-size: 28px;
      }
    }

    &__txt{
      font-size: 20px;
      
      @include m.mobile{
        font-size: 16px;
      }
    }

    &__btn-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 50px 0;
        
        @include m.mobile{
          flex-direction: column;
        }
    }

    &__btn {
        display: inline-block;
        margin-top: 40px;
        padding: 16px 30px;
        min-width: 160px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 100px;
        transition: all .3s;
        background-color: var(--gray-6);
        color: var(--point-dark);

        @include m.mobile{
          margin: 0;
          width: 100%;
          font-size: 14px;
          padding: 12px 30px;
        }

        &:hover{
          background-color: var(--gray-5);
        }

        &.download{
          background: linear-gradient(
              120deg,
              #ffffff 0%,
              #f7f5ff 15%,
              #efeaff 35%,
              #e6deff 50%,
              #efeaff 65%,
              #f7f5ff 85%,
              #ffffff 100%
          );
      
          background-size: 400% 100%;
          animation: gradientFlow 6s linear infinite;

          @keyframes gradientFlow {
            0% {
                background-position: 0% 50%;
            }
        
            50% {
                background-position: 100% 50%;
            }
        
            100% {
                background-position: 0% 50%;
            }
          }
          
        }

    }
}

footer{
    margin-top: 40px;
    border-top: 1px solid var(--gray-5);
    padding: 40px 0;
    text-align: center;
    font-size: 16px;
    color: var(--gray-3);
    @include m.mobile{
      font-size: 12px;
    }
}